<form [formGroup]="productoForm">
  <div>
    <div class="row justify-content-center">
      
        <div class="p-3 rounded-4 shadow-sm border bg-white">
          <h5 class="mb-3 text-primary fw-bold">
            <i class="bi bi-cash-stack me-2"></i> Registro de Venta
          </h5>

          <!-- Fila de inputs pequeños -->
          <div class="row g-2 align-items-end">
            <div class="col-md-3">
              <label class="form-label fw-semibold">Código</label>
              <input type="text" #Codigo class="form-control form-control-sm" [(ngModel)]="productoSeleccionado.codigo"
                formControlName="codigo" placeholder="Ej: ABC123" (blur)="buscarProductoPorCodigo()" (keydown.enter)="readyToEnfocarCantidad && enfocarCantidad()"/>
            </div>

            <div class="col-md-3">
              <label class="form-label fw-semibold">Nombre</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="productoSeleccionado.nombre"
                formControlName="nombre" readonly placeholder="Ej: Leche 1L">
            </div>

            <div class="col-md-2">
              <label class="form-label fw-semibold">Precio ($)</label>
              <input type="number" #precioInput  class="form-control form-control-sm" [(ngModel)]="productoSeleccionado.precio"
                formControlName="precio"  placeholder="Ej: 1500" (keydown.enter)="enfocarCantidad()">
            </div>

            <div class="col-md-2">
              <label class="form-label fw-semibold">Cantidad</label>
              <input type="text" class="form-control form-control-sm" *ngIf="inputGramos"
  formControlName="cantidad" #cantidadGramos placeholder="gramos"
  (keydown.enter)="calcularSubtotalYEnfocarTotal()">

<input type="number" class="form-control form-control-sm" *ngIf="inputCantidad"
  formControlName="cantidad" #cantidadUnidad placeholder="cantidad"
  (keydown.enter)="calcularSubtotalYEnfocarTotal()">
            </div>

            <div class="col-md-2">
              <label class="form-label fw-semibold">Total ($)</label>
              <input type="number" class="form-control form-control-sm" #totalInput
                formControlName="total" readonly placeholder="Ej: 2362" (keydown.enter)="addprod.focus()" >
            </div>
          </div>

          <!-- Descripción -->
          <!-- <div class="row mt-2">
            <div class="col-md-12">
              <label class="form-label fw-semibold">Descripción</label>
              <textarea class="form-control form-control-sm"
                formControlName="descripcion" rows="2"
                placeholder="Ej: Producto sin lactosa..."></textarea>
            </div>
          </div> -->
        </div>
      
    </div>

    <!-- Botón agregar producto -->
    <div class="text-end mt-2" >
      <button type="button"  [disabled]="!productoForm" class="btn btn-success btn-sm" #addprod  (click)="agregarProducto()" >
        <i class="bi bi-plus-circle" ></i> Agregar
      </button>
    </div>
  </div>

  
</form>

<!-- Tabla para mostrar lista de productos agregados -->
<div class="mt-5">
    <!-- Total general -->
   <h4>Total ${{ getTotalGeneral() | number:'1.0-0' }}</h4>
  
  <!-- Botón de imprimir -->
   <div class="d-flex justify-content-end gap-2 mt-3 no-print">
  <button type="button" class="btn btn-primary btn-sm px-4 rounded-3 shadow"
    (click)="imprimirapi()" #btnImprimir>
    <i class="bi bi-printer me-2"></i> Imprimir
  </button>

   

 
  <input   #inputBoleta [(ngModel)]="numeroBoleta" class="form-control form-control-sm w-auto" placeholder="Buscar boleta..." (keydown.enter)="buscarBoleta(inputBoleta.value)" />
</div>


 <table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <!-- <th>Código</th> -->
      <th>Precio Unitario</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th>Acciones</th>  <!-- Nueva columna -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of productosGuardados; let i = index">
      <td>{{ prod.nombre }}</td>
      <!-- <td>{{ prod.codigo }}</td> -->
      <td> ${{ prod.precio }}</td>
      <td>{{ prod.tipo_venta === 'gramos' ? (prod.cantidad + ' g') : (prod.cantidad + ' unid.') }}</td>
      <td>$ {{ calcularTotal(prod) | number:'1.0-0'}}</td>
      <td>
        <button class="btn btn-edit" (click)="editarProducto(i)">
          <i class="bi bi-pencil"></i> Editar
        </button>
        <button class="btn btn-delete" (click)="eliminarProducto(i)">
          <i class="bi bi-trash"></i> Eliminar
        </button>
      </td>
    </tr>
    <tr *ngIf="productosGuardados.length === 0">
  <td colspan="5" class="text-center">No hay productos agregados</td>
</tr>

  </tbody>
</table>

</div>

<div class="d-flex justify-content-center">
  <div id="boleta-imprimible" class="ticket p-4">
    <h1 class="titulo-boleta text-center">El Valdiviano</h1>
    <p class="text-center mb-3">
      NRO Venta: {{ idboleta }}<br>
      Av. Lagunillas 3166<br>
     <strong>Fecha:</strong> {{ fechaHoraActual }}
    </p>
    
    <hr>
    <table class="w-100 mb-3 ">
      <thead>
        <tr>
          <th class="text-start">Producto</th>
          <th class="text-end">Precio</th>
          <th class="text-end">Cant</th>
          <th class="text-end">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of productosGuardados; let i = index">
          <td class="text-start producto-nombre">{{ prod.nombre }}</td>
          <td class="text-end">{{ prod.precio }}</td>
          <td class="text-end smaller-text">
  {{ prod.cantidad }}&nbsp;{{ prod.tipo_venta === 'gramos' ? 'g' : 'u' }}
</td>

          <td class="text-end">{{ calcularTotal(prod) | number:'1.0-0' }}</td>
        
      </tbody>
    </table>

   
    <p class="text-end ticket-total" ><strong>Total $ {{ getTotalGeneral() | number:'1.0-0' }}</strong></p>
   

    <p class="text-center ">¡Gracias por su compra!</p>
  </div>
</div>


<app-buscar-producto-modal
  *ngIf="modalVisible"
  (productoSeleccionado)="onProductoSeleccionado($event)"
   (cerrar)="modalVisible = false">
  >
</app-buscar-producto-modal>


